h1 {    color: #770; cursor: pointer;}
h2 {    color: #404; cursor: pointer;}
h3 {    color: #718; cursor: pointer;}
h4 {    color: #212; cursor: pointer;}
h5 {    color: #901; cursor: pointer;}
h6 {    color: #305; cursor: pointer;}
